.cardsContainer {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 50vh;
    margin: 10px;
    
}


.title {
    margin: 10px 10px;
    border-bottom: 1px solid grey;
    text-align: left;
    font-size: 20px;
    padding-top: 15px;
    font-weight: bold;
    
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

.addNew {
    height: 40px;
    text-align: center;
    color: orangered;
    font-size: 40px;
    margin-bottom: 10px;
    transition: transform .2s;
    cursor: pointer;
    &:hover {
        transform: scale(1.5);
    }
}