.container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    margin: 10px;


    .title {
        padding: 3px 10px;
        text-align: left;
        font-size: 15px;
    }

    .iconAndInfos {
        display: flex;
        flex-direction: column;


        .iconInfoContainer {
            
            display: flex;
            padding: 3px 10px;
            font-size: 10px;

           .icon{
            
            margin-right: 10px;
           }
        }
    }

    .otherInfo {
        text-align: left;
        display: flex;
        font-size: 1px;
       
    }

    ul {
        text-align: left;
        padding-left: 28px;
        display: flex;
        flex-direction: row;
    }

   li {
        text-align: left;
        padding-left: 3px;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 80px;
   }
}
