.dropdown {
  width: 100%;
  background-color: red;
  position: relative;

  &:hover .dropdownList {
    opacity: 1;
    visibility: visible;
  }

  .dropdownSelect {
    border: gray 2px solid;
    padding: 15px 5%;
    border-radius: 4px;
    background-color: white;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
  }

  .dropdownList {
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s linear, visibility 0.2s linear;
    z-index: 2;

    .dropdownListItem {
      background-color: rgba(255, 68, 0, 0.3);
      padding: 10px;
      font-size: 14px;
      transition: background-color 0.2s linear;
      z-index: 2;

      &:hover {
        background-color: white;
      }
    }
  }
}
