.container {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: red;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  .content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid gray;
    width: 25%;
    height: 50vh;
    display: flex;
    flex-direction: column;

    .innerContainer {
      flex-grow: 1;

      .input {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        & > input {
          height: 30px;
          border-radius: 4px;
          margin-top: 4px;
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: right;
      align-items: flex-end;

      & > button {
        background-color: orangered;
        color: white;
        font-size: 18px;
        border-radius: 8px;
        margin-left: 20px;
        margin-top: 20px;
        padding: 10px;
      }
    }

    .title {
      font-size: 25px;
      margin-bottom: 30px;
    }

    .selections {
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      & > * {
        margin: 10px 0;
      }
    }
  }
}
